@import "styles/common";

.linkTable {
  width: 100%;

  .table {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    @extend .hideScrollbar;
    border-radius: 0.5rem;

    .header {
      @extend .alignCen;
      gap: 0 0.5rem;
      position: relative;
      padding: 0 1rem;
      background: #f9fafb;
      color: #374151;
      text-transform: uppercase;
      font-weight: 600;
      border-radius: 10px 10px 0px 0px;

      &::after {
        position: absolute;
        content: "My Links";
        padding: 1rem 0;
        display: none;
      }

      span {
        padding: 1rem 0;
      }

      .shortLink {
        min-width: 200px;
        width: 100%;
        max-width: 350px;
      }

      .originalLink {
        min-width: 350px;
        width: 100%;
        max-width: 598px;
      }

      .clicks {
        min-width: 80px;
        width: 100%;
        max-width: 120px;
      }

      .date {
        min-width: 120px;
        width: 100%;
        max-width: 150px;
      }
    }
  }
}

.darkLinkTable .table {
  .header {
    background: #374151;
    box-shadow: 0px 4px 10px 0px #0000001a;
    color: #c9ced6;
  }
}

@media screen and (max-width: 860px) {
  .linkTable .table {
    overflow-x: scroll;

    .header {
      width: max-content;
    }
  }
}

@media screen and (max-width: 640px) {
  .linkTable .table {
    overflow: hidden;

    .header {
      span {
        visibility: hidden;
      }

      &::after {
        display: block !important;
      }
    }
  }
}
