@import 'styles/common';

.actionsBox {
  position: relative;
  display: inline-block;

  button {
    @extend .flexCenter;
    @include setSquare(1.5rem);
    border-radius: 0.75rem;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background: #f9fafb;
    }
  }

  ul {
    position: absolute !important;
    right: 0.75rem;
    list-style: none;
    width: 12rem;
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: #7a7f8333 0 0px 16px 8px;
    transform: scale(0);
    transition: all 0.25s;
    z-index: 5;

    li {
      @extend .alignCen;
      gap: 0.5rem;
      padding: 0.2rem 0.5rem;
      border-radius: 0.35rem;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background: #f9fafb;
      }
    }

    .share {
      position: relative;
    }

    .shareMenu {
      top: 60%;
      right: 100%;
      font-size: 1rem;
    }
  }

  .showList {
    transform: scale(1);
  }
}

.growAbove ul {
  top: -15rem;
  transform-origin: bottom right;
}

.growBelow ul {
  transform-origin: top right;
  top: 1.6rem;
}

.secondary {
  width: 100%;

  button {
    position: absolute;
    top: 0.6rem;
    right: 2.25rem;
  }

  ul {
    top: 1.5rem;
    right: 3rem;
  }
}

.darkActionBox {
  button {
    color: #c9ced6;

    &:hover {
      background: #6b7280;
    }
  }

  ul {
    background: #374151;
    box-shadow: none;
    border: 2px solid #7a7f83;

    li {
      color: #c9ced6;

      &:hover {
        background: #6b7280;
      }
    }
  }
}
