.banner {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #228b22;
  padding: 0.5rem 1rem;
  z-index: 1000;

  p {
    color: #fff;
    text-align: center;
  }
}
