@import "styles/common";

.contactForm {
  @extend .alignCen;
  gap: 1rem;
  width: 95%;
  max-width: 1280px;
  padding-right: 0.625rem;
  margin: 6rem 1rem 4rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: #63636333 0px 2px 8px 0px;

  .container {
    max-width: 600px;
    width: 50%;
    padding: 2rem 1rem;
    margin: 0 auto;

    .heading {
      margin-bottom: 1rem;
      font-size: 2.25rem;
      line-height: 2.5rem;
      letter-spacing: -0.025em;
      font-weight: 600;
      text-align: center;
      color: #111827 !important;
    }

    .desc {
      margin-bottom: 2rem;
      font-weight: 300;
      text-align: center;
      color: #6b7280;
    }

    .form {
      @extend .flexCol;
      gap: 2rem;
      margin-top: 2rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: #111827 !important;
      }

      input,
      textarea {
        outline: none;
        display: block;
        width: 100% !important;
        padding: 0.625rem;
        background: #f9fafb;
        border: 1px solid #d1d5db;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #111827;
        box-shadow: 0 1px 2px 0 #0000000d;

        &:focus {
          border-color: #3b82f6;
        }
      }

      textarea {
        min-height: 200px;
      }

      .btnContainer {
        @extend .justifyCen;
        width: 100%;
      }
    }
  }

  .img {
    @extend .alignCen;
    width: 50%;
    height: 100%;

    img {
      width: 100%;
    }
  }
}

.darkContactForm {
  background: #111827;

  .container {
    .heading {
      color: #fff !important;
    }

    .desc {
      color: #9ca3af;
    }

    .form {
      label {
        color: #9ca3af !important;
      }

      input,
      textarea {
        background: #374151;
        border-color: #4b5563;
        color: #fff;
        box-shadow: 0 1px 2px 0 #ffffff0d;

        &:focus {
          border-color: #3b82f6;
        }

        &::placeholder {
          color: #9ca3af;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .contactForm .container {
    padding: 3rem 1rem;

    .heading {
      color: #fff;
    }

    .desc {
      margin-bottom: 4rem;
    }

    .form {
      label {
        color: #d1d5db;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .contactForm {
    .container {
      width: 100%;

      .form {
        gap: 1rem;

        textarea {
          min-height: 170px;
        }
      }
    }

    .img {
      display: none;
    }
  }
}

@media screen and (min-width: 640px) {
  .contactForm .container {
    .desc {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}
