@import "styles/common";

.about {
  @extend .flexRow;
  width: 100%;
  min-height: 100vh;
  background: #fff;

  .formContainer {
    @extend .flexCenter;
    width: 50%;
    min-height: 100vh;
    padding: 1rem 0.5rem;
  }
}

.shorten {
  @extend .flexCenter;
  width: 100%;
  height: calc(100vh - 3.5rem);
  margin-top: 3.5rem;
}

.settings {
  @extend .flexCenter;
  width: 100vw;
  min-height: 100vh;

  .container {
    @extend .justifyCen;
    align-items: flex-start;
    gap: 2.5rem;
    width: 97%;
    margin-top: 3.5rem;
    padding: 3rem 0;

    .wrapper {
      @extend .flexCenter;
      align-items: flex-start;
      width: 100%;
      height: calc(100vh - 10rem);
      box-shadow: #64646f33 0px 7px 29px 0px;
      border-radius: 1rem;
      @extend .hideScrollbar;
      overflow-y: scroll;
    }
  }
}

.darkAbout {
  background: #030712;
}

@media screen and (max-width: 1024px) {
  .settings .container {
    gap: 1rem;
  }
}

@media screen and (max-width: 860px) {
  .about {
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;

    .formContainer {
      width: 100%;
      justify-content: flex-start;
      margin-top: 1rem;
      min-height: 37.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .settings .container {
    .wrapper {
      height: 100%;
    }

    .avatarHandler {
      display: none;
    }
  }
}
