@import "styles/common";

.tableRow {
  @extend .alignCen;
  gap: 0 0.25rem;
  position: relative;
  margin-top: 1rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: #0000003d 0px 3px 8px;
  font-size: 14px;
  transition: height 0.25s;

  &:last-of-type {
    margin-bottom: 0.5rem;
  }

  .expandBtn {
    @extend .flexCenter;
    position: absolute;
    top: 10.5px;
    right: 0;
    @include setSquare(2rem);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s;
    display: none;

    &:hover {
      background: #f9fafb;
    }
  }

  span {
    padding: 1rem 0;
  }

  .shortLink {
    @extend .alignCen;
    justify-content: space-between;
    position: relative;
    min-width: 200px;
    width: 100%;
    max-width: 350px;
    padding: 0.5rem 0;

    .optContainer {
      @extend .justifyCen;
      z-index: -1;
      opacity: 0;
      margin-top: 3px;

      .options {
        @extend .alignCen;

        .btn {
          @extend .flexCenter;
          @include setSquare(2rem);
          border-radius: 50%;
          color: inherit;
          cursor: pointer;

          @media (hover: hover) {
            &:hover {
              background: #e5e7eb;
            }
          }
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        .optContainer {
          opacity: 1;
          z-index: 0;
        }
      }
    }

    @media (hover: none) {
      .optContainer {
        opacity: 1;
        z-index: 0;

        .options {
          gap: 0;

          .btn {
            @include setSquare(1.8rem);

            svg {
              transform: scale(0.85);
            }
          }
        }
      }
    }
  }

  .originalLink {
    min-width: 350px;
    width: 100%;
    max-width: 600px;
    overflow-x: scroll;
    @extend .hideScrollbar;
  }

  .clicks {
    min-width: 80px;
    width: 100%;
    max-width: 120px;
  }

  .date {
    min-width: 120px;
    width: 100%;
    max-width: 150px;
  }
}

.darkTableRow {
  background: #1f2937;
  box-shadow: 0px 4px 10px 0px #0000001a;
  color: #d1d5db;

  .expandBtn {
    color: #c9ced6;

    @media (hover: hover) {
      &:hover {
        background: #6b7280;
      }
    }
  }

  .shortLink .optContainer .options .btn {
    color: #c9ced6;

    @media (hover: hover) {
      &:hover {
        background: #6b7280;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .tableRow {
    width: max-content;
  }
}

@media screen and (max-width: 640px) {
  .tableRow {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 3.25rem;
    overflow: hidden;

    span {
      min-width: unset !important;
      max-width: 100% !important;
      padding: 0.75rem 0;
    }

    .expandBtn {
      margin-right: 1.5rem;
      display: flex;
    }

    .shortLink {
      justify-content: start;
      gap: 1.5rem;
    }
  }

  .expand {
    height: 190px;

    .divider {
      all: unset !important;
      width: 100% !important;
      border-top: 1px solid #ccc !important;
    }

    .expandBtn {
      transform: rotate(-180deg);
    }
  }
}
