@import "styles/common";

.tableRow {
  @extend .alignCen;
  gap: 0 0.25rem;
  position: relative;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: #0000003d 0px 3px 8px;
  font-size: 14px;
  transition: all 0.25s;

  &:last-of-type {
    margin-bottom: 0.5rem;
  }

  .expandBtn {
    @extend .flexCenter;
    position: absolute;
    top: 7px;
    right: 5px;
    @include setSquare(2rem);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s;
    display: none;

    &:hover {
      background: #f9fafb;
    }
  }

  span {
    padding: 1rem 0;
  }

  .shortLink {
    display: flex;
    min-width: 230px;
    width: 100%;
    max-width: 350px;
    border-right: 1px solid #ccc;

    .link .domain {
      color: #6b7280;
    }
  }

  .originalLink {
    min-width: 250px;
    width: 100%;
    max-width: 600px;
    padding-right: 0.5rem;
    border-right: 1px solid #ccc;
    white-space: nowrap;
    overflow-x: scroll;
    @extend .hideScrollbar;
  }

  .clicks {
    min-width: 80px;
    width: 100%;
    max-width: 120px;
    border-right: 1px solid #ccc;
  }

  .date {
    min-width: 120px;
    width: 100%;
    max-width: 150px;
    border-right: 1px solid #ccc;
  }
}

.show {
  margin-bottom: 14.5rem !important;
}

.darkTableRow {
  background: #1f2937;
  box-shadow: 0px 4px 10px 0px #0000001a;
  color: #d1d5db;

  .expandBtn {
    color: #c9ced6;

    &:hover {
      background: #6b7280;
    }
  }

  .shortLink .optContainer .options .btn {
    color: #c9ced6;

    &:hover {
      background: #6b7280;
    }
  }
}

@media screen and (max-width: 940px) {
  .tableRow {
    width: max-content;

    .shortLink {
      min-width: 220px;
    }

    .originalLink {
      min-width: 350px;
      max-width: 350px;
    }

    .clicks {
      min-width: 90px;
    }

    .date {
      min-width: 135px;
    }
  }
}

@media screen and (max-width: 640px) {
  .tableRow {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2.8rem;
    margin-top: -0.5rem;
    overflow: hidden;
    padding: 0 0.5rem;

    span {
      min-width: unset !important;
      padding: 0.75rem 0;
      max-width: 100% !important;
      border-right-width: 0 !important;
    }

    .divider {
      all: unset;
      width: 100%;
      border-top: 1px solid #ccc;
    }

    .expandBtn {
      display: flex;

      &:hover {
        background: transparent;
      }
    }
  }

  .darkTableRow .shortLink .optContainer .options .btn {
    background: #6b7280;
  }

  .expand {
    height: 11.5rem;

    .expandBtn {
      transform: rotate(-180deg);
    }
  }
}
