@import 'styles/common';

.avatarHandler {
  @extend .flexCol;
  align-items: center;
  width: 97%;
  max-width: 22rem;
  padding: 2.5rem 2rem;
  border-radius: 1.25rem;
  box-shadow: #64646f33 0px 7px 29px 0px;

  .name {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }

  .loading {
    @extend .flexCenter;
    @include setSquare(15rem);
  }

  .btnContainer {
    width: 100%;
    margin-top: 1.5rem;

    button {
      width: 100%;
    }

    button:first-of-type {
      margin-bottom: 0.5rem;
    }
  }

  .note {
    @extend .flexCenter;
    gap: 0.25rem;
    width: 255px;
    margin-top: 40%;
    padding: 1rem 0.5rem;
    background: #f9f9f9;
    font-size: 0.9rem;
    text-align: center;
    color: #9ca3af;
    border: 1px solid #ccc;
  }
}

.darkAvatarHandler {
  background: #1f2937;

  .name {
    color: #fff;
  }

  .note {
    background: #374151;
    border: 1px solid #6b7280;
  }
}

@media screen and (max-width: 1024px) {
  .avatarHandler {
    max-width: 19rem;
    padding: 2rem 1rem;

    .loading {
      @include setSquare(12rem);
    }
  }
}
