.circleBackground,
.circleProgress {
  fill: none;
}

.circleBackground {
  stroke-opacity: 0.2;
}

.circleProgress {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading {
  animation: rotate 1s linear 0.5s infinite;

  .circleProgress {
    stroke-dasharray: 100 !important;
    stroke-dashoffset: 80 !important;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
