@import 'styles/common';

.footer {
  @extend .flexColCen;
  gap: 1.4rem;
  width: 100%;
  padding: 2rem 1rem;
  background: #fff;
  font-size: 1.2rem;
  color: #6b7280;
  box-shadow: #00000029 0px 1px 4px;
  background: #fff;

  .logo {
    color: #010851;
    font-size: 2rem;
    font-weight: 600;
  }

  .about {
    max-width: 1024px;
    font-weight: 300;
    text-align: center;
    font-size: 1.1rem;
  }

  .copyright {
    font-weight: 300;
    font-size: 1.1rem;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      color: #1d4ed8;
    }
  }
}
.darkFooter {
  background: #111827;
  color: #9ca3af;

  .logo {
    color: #fff;
  }

  .socials a {
    color: #ffffffcc;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    .logo {
      font-size: 1.5rem !important;
    }

    .about,
    .copyright {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}
