.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000025;
  backdrop-filter: blur(4px);
  z-index: -1;
  opacity: 0;
  transition: all 0.05s;
}

.show {
  opacity: 1;
  // due to notice banner
  z-index: 10001;
}

.darkModal {
  background: #ffffff25;
}
