@import "styles/common";

.sidebar {
  @extend .flexCol;
  justify-content: space-between;
  position: fixed;
  left: 10px;
  width: 100%;
  max-width: 350px;
  height: 95%;
  padding-bottom: 1rem;
  background: #fff;
  border-radius: 1rem;
  box-shadow: #0000000d 0px 6px 24px 0px, #00000014 0px 0px 0px 1px;
  overflow: hidden;
  z-index: 2;
  transition: all 0.3s;

  .container {
    .header {
      @extend .alignCen;
      justify-content: space-between;
      padding: 1rem;

      .logo {
        @extend .flexCenter;
        @include setSquare(35px);

        img {
          width: 100%;
          height: auto;
        }
      }

      .sidebarBtn {
        box-sizing: border-box;
        @extend .flexCenter;
        @include setSquare(3rem);
        border: 1px solid #1d4ed815;
        border-radius: 0.5rem;
        color: inherit;
        cursor: pointer;

        &:hover {
          color: #1d4ed8;
          background: #1d4ed815;
        }
      }
    }

    .divider {
      height: 2px;
      width: calc(100% - 2rem);
      margin: 5px auto;
      background: #f3f4f6;
    }

    .list {
      @extend .flexCol;
      gap: 1rem;
      list-style: none;
      padding: 10px;

      li {
        @extend .alignCen;
        gap: 1rem;
        padding: 1rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s color 0.3s;

        .title {
          overflow: hidden;
          transition: all 0.3s;
        }

        &:hover {
          color: #1d4ed8;
          background: #1d4ed815;
        }

        .icon {
          @extend .flexCenter;
        }
      }
    }
  }

  .account {
    @extend .alignCen;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;

    .left {
      @extend .alignCen;
      gap: 0 1rem;

      .img {
        @extend .flexCenter;
        @include setSquare(2.5rem);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 1px solid #e5e7eb;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .name {
        font-size: 1.125rem;
        line-height: 1.75rem;
        min-width: max-content;
        overflow: hidden;
      }
    }

    .moreBtn {
      box-sizing: border-box;
      @extend .flexCenter;
      min-width: 2.5rem;
      @include setSquare(2.5rem);
      border-radius: 50%;
      color: inherit;
      cursor: pointer;

      &:hover {
        color: #1d4ed8;
        background: #1d4ed815;
      }
    }
  }
}

.collapse {
  max-width: 80px;

  .container {
    .header .logo {
      display: none;
    }

    .divider {
      width: 85%;
    }
  }

  .account .left {
    gap: 0;

    .img {
      cursor: pointer;
    }

    .name {
      min-width: 0;
      max-width: 0;
      line-height: 0;
    }
  }
}

.darkSidebar {
  background: #111827;

  .container {
    .header .sidebarBtn {
      color: #9ca3af;
      border-color: #374151;

      &:hover {
        background: #374151;
        color: #fff;
      }
    }

    .divider {
      background: #374151;
    }

    .list li {
      color: #9ca3af;

      &:hover {
        color: #3b82f6;
        background: #374151;
      }
    }
  }

  .account {
    color: #9ca3af;

    .left button:hover {
      background: #374151;
      color: #fff;
    }
  }
}

@media screen and (max-width: 640px) {
  .sidebar {
    left: 5px;

    .container {
      .header {
        padding: 10px;

        .sidebarBtn {
          transform: scale(0.85);
        }
      }

      .list {
        padding: 10px;
        gap: 5px;

        li {
          font-size: 1.2rem;
          line-height: 1.75rem;
          padding: 10px 1rem;
        }
      }
    }

    .account .left .img {
      @include setSquare(2.2rem);
    }
  }

  .collapse {
    max-width: 58px;

    .container {
      .header {
        padding: 10px 5px;
      }

      .list {
        padding: 0 5px;

        li {
          padding-left: 12px;
        }
      }
    }

    .account {
      padding-left: 0.7rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    max-width: 100%;
  }

  .collapse {
    max-width: 58px;
  }
}
