@import "styles/common";

.intro {
  @extend .alignCen;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  padding: 3.5rem 0 2rem;

  .container {
    @extend .alignCen;
    width: 95%;
    min-height: 500px;
    padding: 2rem 0 1rem;
    margin: 0 auto;

    .content {
      @extend .flexCol;
      justify-content: space-between;
      gap: 2rem;
      place-self: center;
      width: 100%;
      margin-right: auto;
      margin: 1rem 0;

      .heading {
        position: relative;
        max-width: 38rem;
        font-size: 2.5rem;
        line-height: 1;
        font-weight: 600;
        letter-spacing: -0.025em;
        overflow: hidden;

        .featureTransition {
          height: 3.2rem;
          color: #007bff;

          .text {
            position: absolute;
            top: 31%;
            left: 0;
            @extend .alignCen;
            @include setSquare(100%);
            font-size: inherit;
            line-height: 3.5rem;
            transform: translateY(100%);
            transition: transform 0.5s;
          }

          .current {
            transform: translateY(0);
          }
        }
      }

      .desc {
        max-width: 38rem;
        font-weight: 300;
        font-size: 1.2rem;
        color: #6b7280;
      }

      .btnContainer {
        @extend .alignCen;
        gap: 1rem;
        width: 100%;
      }
    }

    .img {
      @extend .flexCenter;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.darkIntro .container .content {
  .heading {
    color: #fff;
  }

  .desc {
    color: #9ca3af;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    .heading {
      font-size: 2.5rem;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .intro {
    .heading {
      font-size: 2.5rem !important;
    }
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    height: 700px;

    .container {
      padding: 1rem 0;

      .content {
        .desc {
          margin-bottom: 2rem;
          font-size: 1.25rem;
          line-height: 1.75rem;
        }

        .btnContainer {
          margin-top: -2rem;
        }
      }

      .img {
        margin-top: 0;
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .intro {
    height: unset;

    .container {
      flex-direction: column;
      gap: 2rem;

      .content,
      .img {
        width: 100%;
        max-width: 600px;
      }

      .content {
        order: 1;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .intro {
    .heading {
      font-size: 2.2rem !important;
      line-height: 2.5rem !important;

      .featureTransition {
        height: 2.5rem !important;
      }
    }
    .desc {
      font-size: 1rem !important;
      line-height: 1.4rem;
    }
  }
}

@media screen and (max-width: 454px) {
  .intro {
    .heading {
      height: 10.2rem;

      .text {
        max-width: 20rem;
        top: 24.5% !important;
        line-height: 2.5rem !important;
      }
    }
  }
}

@media screen and (max-width: 397px) {
  .intro {
    .heading {
      height: 12.6rem;

      .text {
        top: 29.5% !important;
      }
    }
  }
}
