@import "styles/common";

.toggleBtn {
  position: relative;
  z-index: 20;
  transition: opacity 0.3s;
  cursor: pointer;

  .iconContainer {
    @extend .alignCen;
    justify-content: space-between;
    width: 3.5rem;
    border-radius: 1rem;
    background: #eee;
    padding: 0.25rem;
  }

  .dotBtn {
    position: absolute;
    top: 10%;
    left: 6%;
    @include setSquare(1.25rem);
    border-radius: 50%;
    background: #ccc;
    transition: all 0.3s;
  }

  .activeBtn {
    background: #333;
  }

  .active {
    background: #666;
    left: 61%;
  }
}
