@mixin setSquare($value) {
  width: $value;
  height: $value;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignCen {
  display: flex;
  align-items: center;
}

.alignStart {
  display: flex;
  align-items: flex-start;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCen {
  @extend .flexCenter;
  flex-direction: column;
}

.sr_only {
  position: absolute;
  @include setSquare(1px);
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
