.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alignCen {
  display: flex;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCen {
  @extend .flexCenter;
  flex-direction: column;
}

.inlineFlexCen {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
