@import 'styles/common';

.spinner span {
  display: none;
}

.authForm {
  width: 97%;
  max-width: 450px;
  margin: 0 auto;
  padding: 1.5rem;
  background: #fff;
  font-size: 0.9rem;
  line-height: 1.25rem;
  border-radius: 0.75rem;
  box-shadow: #00000029 0px 1px 4px;

  &:hover {
    box-shadow: #63636333 0px 2px 8px 0px;
  }

  .heading {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
  }

  .socialMethod {
    @extend .flexCenter;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

    span {
      font-size: 1.1rem;
      font-weight: 500;
    }

    .btns {
      @extend .flexCenter;
      gap: 1rem;

      button {
        @extend .flexCenter;
        @include setSquare(45px);
        border-radius: 50%;
        background: #fff;
        cursor: pointer;

        &:hover {
          box-shadow: #0000003d 0 0 8px;
        }
      }
    }
  }

  .divider {
    @extend .alignCen;
    gap: 0.75rem;
    margin-top: 1rem;

    .line {
      width: 100%;
      height: 1.5px;
      background: #e5e7eb;
    }

    .text {
      color: #6b7280;
    }
  }

  form {
    @extend .flexCol;
    gap: 0.75rem;
    margin-top: 0.75rem;

    .checkboxContainer {
      @extend .alignCen;
      gap: 0.75rem;

      .checkbox {
        @extend .flexCenter;
        @include setSquare(1rem);
        color: #f9fafb;
        background: #f9fafb;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        cursor: pointer;
      }

      .checked {
        background: #007bff;
        border-color: #007bff;
      }

      label {
        color: #6b7280;

        a {
          color: #1c64f2;
          font-weight: 500;
          text-underline-offset: 2px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .forgotPassword {
      display: flex;
      justify-content: flex-end;

      span {
        color: #1c64f2;
        text-underline-offset: 2px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .btn {
      margin-top: 0.5rem;
      padding: 0.625rem 1.25rem;
      background: #1c64f2;
      color: #fff;
      text-align: center;
      border-radius: 0.5rem;
      cursor: pointer;
      opacity: 1;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .authSwitch {
    margin-top: 1.25rem;

    span {
      color: #1c64f2;
      font-weight: 500;
      text-underline-offset: 2px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.darkAuthForm {
  background: #1f2937;

  .heading {
    color: #fff;
  }

  .socialMethod {
    color: #d1d5db;

    .btns button {
      background: #374151;

      &:hover {
        box-shadow: #4b5563 0 0 8px;
      }
    }
  }

  .divider {
    color: #374151;

    .line {
      background: #374151;
    }
  }

  form {
    .checkboxContainer {
      .checkbox {
        background: #374151;
        color: #374151;
        border-color: #4b5563;
      }

      .checked {
        background: #007bff;
        border-color: #007bff;
        color: #fff;
      }

      label {
        color: #d1d5db;
      }
    }
  }

  .authSwitch {
    color: #d1d5db;
  }
}

@media screen and (max-width: 900px) {
  .spinner {
    left: 50%;
  }
}

@media screen and (max-width: 360px) {
  .authForm {
    width: 98%;
    padding: 1rem 0.5rem;
  }
}
