@import "styles/common";

.heroSec {
  @extend .alignCen;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  background: #fff;
  padding: 5rem 0.75rem;

  .content {
    @extend .flexCol;
    gap: 1rem;
    width: 50%;
    padding-right: 1rem;

    .heading {
      font-weight: 600;
      font-size: calc(1.5rem + 7 * ((100vw - 360px) / 1240));
      line-height: calc(1.625rem + 9 * ((100vw - 360px) / 1240));
    }

    .desc {
      color: #6b7280;
      font-size: calc(16px + 6 * ((100vw - 360px) / 1240));
      line-height: calc(1.2rem + 10 * ((100vw - 360px) / 1240));
    }

    .btnContainer {
      margin-top: 2rem;
    }
  }

  .img {
    @extend .flexCenter;
    width: 50%;
    background: none;
  }
}

.swap .content {
  order: 1;
}

.darkHeroSec {
  background: #111827;

  .content {
    .heading {
      color: #fff;
    }

    .desc {
      color: #9ca3af;
    }
  }
}

@media screen and (max-width: 1024px) {
  .heroSec {
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0.75rem 2rem;

    .content,
    .img {
      width: 100%;
      max-width: 700px;
    }

    .content {
      order: 1;

      .btnContainer {
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .heroSec .content,
  .img {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .heroSec {
    .content,
    .img {
      width: 100%;
    }

    .content .desc {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }
}
